#!/usr/bin/make -f
export DH_VERBOSE = 1
PARALLEL_JOBS = $(shell nproc)
DEB_PKG_NAME := $(shell dpkg-parsechangelog --show-field Source)

%:
	dh $@ --buildsystem=cmake  --builddirectory=build

override_dh_auto_configure:
	cmake -B build \
		-DCMAKE_BUILD_TYPE="Release" \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_CXX_FLAGS="-std=c++11" \
		-DCMAKE_VERBOSE_MAKEFILE=1 \
		-DCMAKE_C_FLAGS="" \
		-DCMAKE_EXE_LINKER_FLAGS="" \
		-DCMAKE_MODULE_LINKER_FLAGS="" \
		-DCMAKE_SHARED_LINKER_FLAGS=""

override_dh_auto_build:
	cmake --build build -- -j $(PARALLEL_JOBS)

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_install:
	dh_auto_install
	dh_install
	install -d $(CURDIR)/debian/$(DEB_PKG_NAME)/etc/$(DEB_PKG_NAME)/
	install -m 0644 $(CURDIR)/etc/test_voice.onnx      $(CURDIR)/debian/$(DEB_PKG_NAME)/etc/$(DEB_PKG_NAME)/
	install -m 0644 $(CURDIR)/etc/test_voice.onnx.json $(CURDIR)/debian/$(DEB_PKG_NAME)/etc/$(DEB_PKG_NAME)/
